.layout {
  display: grid;
  grid-template-areas: "sidebar top-area"
    "sidebar main-area";
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr;
  height: 100vh;
}

.layout_body {
  position: relative;
  flex: 1;
  overflow-x: auto;
}
