$adriatic: #006994;
$black: #000;
$dark-tone-ink: #121212;
$dire-wolf: #282828;
$eerie-black: #181818;
$silver: #a7a7a7;
$white: #fff;
$spotify-green: #1ed760;

// text variables
$text-base : $white;
$text-subdued: $silver;
$text-inversed: $black;


//
$html-bg-color: $eerie-black;
$body-bg-color: $dark-tone-ink;
$header-bg-color: $dark-tone-ink;
$splash-bg-color: $adriatic;

$card-bg-color: $eerie-black;
$card-hover-bg-color: $dire-wolf;

$menu-bg-color: $dire-wolf;
$user-badge-bg-color: $dire-wolf;

$nav-button-bg-color: $black;

$genre-badge-bg-color: $dire-wolf;

$gradient-background-base: $dark-tone-ink;

$play-button-bg-color: $spotify-green;
$play-button-icon-color: $black;
