$white: #fff;
$silver: #a7a7a7;
$adriatic: #006994;
$dark-tone-ink: #121212;
$eerie-black: #181818;
$dire-wolf: #282828;
$black: #000;

// text variables
$text-subdued: $silver;
$text-base : $white;


//
$body-bg-color: $dark-tone-ink;
$splash-bg-color: $adriatic;

$card-bg-color: $eerie-black;
$card-hover-bg-color: $dire-wolf;

$nav-button-bg-color: $black;

