@mixin text-style($font-size, $line-height, $font-weight: 400, $text-transform: none) {
  font-size: $font-size;
  line-height: $line-height;
  font-weight: $font-weight;
  text-transform: $text-transform;
}

@mixin caption-text {
  @include text-style(0.875rem, 1.6, 400, none);
}

@mixin body-text {
  @include text-style(1rem, 1.6, 400, none);
}

@mixin title-text {
  @include text-style(1.5rem, 1.6, 400, none);
}

@mixin heading-text {
  @include text-style(2rem, 1.6, 600, none);
}
