
.splash {
  @include flex-center();
  background-color: $splash-bg-color;
  flex-direction: column;
  height: 100vh;
}

.headline {
  font-size: 100px;
  font-weight: bolder;
}

.button {
  background-color: $black;
  border-radius: 8px;
  color: white;
  cursor: pointer;
  font-size: 32px;
  padding: 16px;

  &:hover {
    background-color: black;
  }
}
