.card {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  background-color: $card-bg-color;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
  padding: 16px;

  &:hover {
    background-color: $card-hover-bg-color;

    .badge {
      background-color: $eerie-black;
    }
  }
}

.text_section {
  align-self: flex-start;
  padding-left: 16px;
  justify-self: flex-end;
  width: 100%;
}

.image {
  height: 120px;
  width: 120px;

  &.round {
    border-radius: 50%;
  }

  &.square {
    border-radius: 8px;
  }
}

.title {
  font-size: 1rem;
  color: $text-base;
  margin-bottom: 8px;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 140px;
  white-space: nowrap;
}

.description {
  font-size: 0.875rem;
  text-transform: capitalize;
  color: $text-subdued;
}

.image_wrapper {
  border-radius: 50%;
}

.footer {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.badge {
  font-size: 11px;
  background-color: $genre-badge-bg-color;
  border-radius: 4px;
  padding: 4px;
  color: $text-base;
  text-transform: capitalize;
  text-decoration: unset;
}
