.artist_page {
  height: 100%;
}

.avatar {
  border-radius: 50%;
  height: 200px;
  width: 200px;
}

.discography_header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 0 16px;
  margin-top: 24px;
}

.section_title {
  margin: 8px 0;
}

.show_all {
  color: $text-subdued;
  cursor: pointer;
  font-size: 14px;

  &:hover {
    text-decoration: underline;
  }
}

.cover {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 24px;
  padding: 64px 40px;
  position: relative;
}

.name {
  font-size: 6rem;
  font-weight: bolder;
}

.follower_count {
  @include body-text();
  padding-left: 8px;
  text-align: left;
}
