.artist_page {
  height: 100%;
}

.avatar {
  border-radius: 50%;
  height: 200px;
  width: 200px;
}

.cover {
  display: flex;
  flex-direction: row;
  gap: 24px;
  align-items: center;
  padding: 0 40px;
}

.name {
  font-size: 6rem;
  font-weight: bolder;
}

.follower_count {
  font-size: 1rem;
  text-align: left;
  padding-left: 8px;
}
