.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  grid-area: top-area;
  height: 64px;
  padding: 8px 16px 0;
  z-index: 9;
}

.nav_button {
  @include flex-center();
  border-radius: 50%;
  height: 32px;
  width: 32px;
  background-color: $nav-button-bg-color;
  cursor: pointer;
  opacity: 0.6;
  padding: 2px;
}

.nav_button_wrapper {
  display: flex;
  gap: 8px;
}
