.sidebar {
  background-color: black;
  width: 240px;
  height: 100%;
  padding-top: 24px;
  grid-area: sidebar;
}

.item {
  background-color: black;
  padding: 0 16px;
  color: $text-subdued;
  display: flex;
  align-items: center;
  gap: 16px;
  height: 40px;
  font-size: 16px;
  margin-bottom: 8px;
  cursor: pointer;

  &:hover {
    color: $text-base;
  }
}

.icon {
  color: inherit;
  font-size: 24px;
}

.logo_container {
  padding-left: 16px;
  margin-bottom: 16px;
  display: flex;
  align-items: center;
  gap: 16px;
}

.logo {
  font-size: 40px;
}

.title {
  text-transform: capitalize;
  font-size: 16px;
  font-weight: bolder;
}
