.track {
  padding-top: 64px;
  padding-left: 40px;
}

.cover {
  display: flex;
  align-items: center;
  gap: 24px;
  position: relative;
}

.play_container {
  padding: 16px;
}

.image {
  box-shadow: 0 4px 60px rgba(0,0,0,.5);
  height: 200px;
  width: 200px;
}

.title {
  font-size: 6rem;
  font-weight: bolder;
}

.info {
  display: flex;
  flex-direction: column;
}

.type {
  @include caption-text();
  text-transform: capitalize;
}

.artist_info {
  display: flex;
  gap: 8px;
  @include body-text();
  align-items: center;
}

.artist_avatar {
  height: 24px;
  width: 24px;
  border-radius: 50%;
}

.artist_bar {
  cursor: pointer;
}

.artist_bar_avatar {
  height: 80px;
  width: 80px;
  border-radius: 50%;
}

.artist_bar_info {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 16px;
  margin-right: 40px;
  margin-bottom: 24px;
  gap: 24px;
  border-radius: 8px;

  &:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }
}

.subheading {
  @include caption-text();
  color: $text-subdued;
}

.artist-name {
  @include title-text();
  font-weight: 700;
  margin-bottom: 16px;
}

.tracks_container {
  margin: 24px 0;
}
