:root {
    --snow: #fafafa;
    --adriatic: #006994;
    --black: #000;
    --white: #fff;
    --silver: #b3b3b3;
    --eerie-black: #181818;
    --dire-wolf: #282828;
    --dark-tone-ink: #121212;

    --text-subdued: #a7a7a7;
    --text-base : #fff;
}

body {
    margin: 0;
    color: var(--white);
    width: 100vw;
    height: 100vh;
    font-family: 'Work Sans';
    font-size: 22px;
    background-color: var(--dark-tone-ink);
}

button {
    all: unset;
}

* {
    box-sizing: border-box;
}
