html {
  background-color: $html-bg-color;
}

body {
  margin: 0;
  color: $text-base;
  width: 100vw;
  height: 100vh;
  font-family: 'Signika', sans-serif;
  background-color: transparent;
}

button
 {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

a {
  all: unset;
}

* {
  box-sizing: border-box;
}

.section-title {
  @include heading-text();
  padding-left: 16px;
}
