html {
  background-color: $html-bg-color;
}

body {
  margin: 0;
  color: $text-base;
  width: 100vw;
  height: 100vh;
  font-family: 'Signika', sans-serif;
  background-color: transparent;
}

button,
a {
  all: unset;
}

* {
  box-sizing: border-box;
}
