:root {
    --snow: #fafafa;
    --adriatic: #006994;
    --black: #000;
    --white: #fff;
    --silver: #b3b3b3;
    --eerie-black: #181818;
}

body {
    margin: 0;
    color: var(--white);
    width: 100vw;
    height: 100vh;
    font-family: 'Work Sans';
    font-size: 22px;
    background-color: var(--eerie-black);
}

button {
    border: none;
}
